appdirs==1.4.3
asgiref==3.2.3
attrs==19.3.0
black==19.10b0
Click==7.0
Django==3.0.3
djangorestframework==3.11.0
django-cors-headers==3.2.1
drf-yasg==1.17.1
gunicorn==20.0.4
pandas==1.0.1
pathspec==0.7.0
psycopg2==2.8.4
pycountry==19.8.18
pytz==2019.3
regex==2020.1.8
SPARQLWrapper==1.8.5
sqlparse==0.3.0
toml==0.10.0
typed-ast==1.4.1
uWSGI==2.0.18
xmltodict==0.12.0
